body{
    background-color: gold;
}

h4{
    
    height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-transform: capitalize;

}
.card:hover img{
    transform: scale(1.5);
}
.card-img{
    height: 250px;
    overflow: hidden;
    

}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s ease-in-out;

}